.present__photo  {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.present__group-title {
    margin-bottom: 18px;
}
.present__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
}
.present__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}
.present__description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 140%;
}
.present__order-btn {
    padding: 16px 60px;
    background: #E87C40;
    border-radius: 4px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 480px) {
    .present__container {
        display: flex;
    }
    .present__photo {
        width: 50%;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .present__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .present__title {
        font-size: 40px;
    }
    .present__subtitle {
        font-size: 18px;
    }
    .present__description {
        font-size: 16px;
    }
    .present__order-btn {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .present {
        padding-top: 70px; 
    }
    .present__photo {
        width: 370px;
        margin-right: 27px;
    }
    .present__group-title {
        margin-bottom: 40px;
    }
    .present__title {
        margin-bottom: 24px;
    }
    .present__description {
        margin-bottom: 60px;
    }
    .present__order-btn {
       padding: 24px 82px;
    }
}

@media (min-width: 992px) {
    .present {
        position: relative;
    }
    .present::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 40%;
        height: 100%;
        background-color: #A1B7C8;
        z-index: -1;
    }
}

@media (min-width: 1440px) {
    .present__photo {
        width: 445px;
        margin-right: 30px;
    }
    .present__group-title {
        margin-bottom: 60px;
    }
    .present__title {
        margin-bottom: 20px;
        font-size: 50px;
    }
    .present__subtitle {
        font-size: 20px;
    }
    .present__description {
        font-size: 18px;
    }
}